<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home</title>
	{% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static '/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<header>
		<h1>Welcome to my portfolio!</h1>
		<nav>
			<li><a href="/testimonials">View testimonials</a></li>
			<li><a href="/about">About Me</a></li>
			<li><a href="/projects">Projects</a></li>
		</nav>
	</header>
	<div>
		{{request.session.name}}
		<form action="/new_user" method="post">
			{% csrf_token %}
			<input type="text" name="first_name" placeholder="first name">
			<input type="submit" value="submit">
		</form>
	</div>
</body>
</html>